# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
coverage
dist
**/MANIFEST.OE

# Ignore ABL Artifacts
**/*.r
**/*.e
*.bak
*.old
temp/
DBI*
lbi*
rcda*
srt*
.pct

# Ignore VSCode Artifacts
/.vscode/mcp.json
/.vscode/mcp.json.bak
/.builder
**/results.xml
results*.html

# Ignore Test Files
results.xml
PROPATH.txt
*.log
dbg_*
**/showcfg.out
*.bkp

# Ignore k6 logs and sample configs
/src/test/framework/k6/logs/*.log
/src/test/framework/k6/logs/*.json
/src/test/framework/k6/configs/*-dustin.json
/src/test/framework/k6/logs/junit.xml
/src/test/framework/k6/logs/*.txt
