{
    "logger": {
        "OpenEdge.Web.DataObject.DataObjectHandler": {
            "logLevel": "OFF",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${req.id} | ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/A${req.agent}/@MONITOR_ABLAPP@.DOH-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.Web.DataObject.DataObjectService": {
            "logLevel": "OFF",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/@MONITOR_ABLAPP@.Services-${t.today}.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.Web.InternalWebRouter": {
            "logLevel": "OFF",
            "filters": [
                "VOID_WRITER"
            ]
        },
        "OpenEdge.Web": {
            "logLevel": "OFF",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${req.id} | ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/@MONITOR_ABLAPP@.Web-${t.today}.log",
                    "appendTo": true
                }
            ]
        },
        "@CLASSPACKAGE@.Handler.DOHEventHandler": {
            "logLevel": "INFO",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/@MONITOR_ABLAPP@.DOHEvents-${t.today}.log",
                    "appendTo": true
                }
            ]
        },
        "@CLASSPACKAGE@": {
            "logLevel": "ERROR",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${req.id} | ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/A${req.agent}/@MONITOR_ABLAPP@.App-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "StartupLogger": {
            "logLevel": "ERROR",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/@MONITOR_ABLAPP@.Startup-${t.today}.log",
                    "appendTo": true
                }
            ]
        },
        "ActivateLogger": {
            "logLevel": "ERROR",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] A${req.agent}-S${req.session} | ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/@MONITOR_ABLAPP@.Activate-${t.today}.log",
                    "appendTo": true
                }
            ]
        }
    }
}