# https://docs.progress.com/bundle/openedge-startup-and-parameter-reference/page/Profile-Memory-profileMemory.html
# Only record the end-of-request snapshots, generated on every 100th request.
Cadence 0
SnapshotEndOfRequest 100
Description "@PASALIAS@|@HOSTNAME@:@PASHTTP@|@PRIMARY_ABLAPP@:v@APIVERSION@"
