{
    "logger": {
        "OpenEdge.LoadSuite": {
            "logLevel": "DEBUG",
            "filters": [
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/OELS.log",
                    "appendTo": true
                }
            ]
        }
    }
}